<div class="main">
  <%= render partial: 'shared/header' %>
  <button type="button" class="btn btn-primary">店舗</button>
  <div class="shop-name">店舗名</div>
    <button type="button" class="btn btn-primary">作成月</button>
    <input type="month" class="input-month">
    <%= link_to "#" do %>
      <button type="button" class="btn btn-info">カレンダーを見る</button>
    <% end %>
    <div class="text-nowrap table-responsive">
      <table class="table table-bordered table-fixed">
        <tr>
          <th rowspan="2" class="border-right">氏名</th>
          <th rowspan="2">役職</th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
          <th>6</th>
          <th>7</th>
          <th>8</th>
          <th>9</th>
          <th>10</th>
          <th>11</th>
          <th>12</th>
          <th>13</th>
          <th>14</th>
          <th>15</th>
          <th>16</th>
          <th>17</th>
          <th>18</th>
          <th>19</th>
          <th>20</th>
          <th>21</th>
          <th>22</th>
          <th>23</th>
          <th>24</th>
          <th>25</th>
          <th>26</th>
          <th>27</th>
          <th>28</th>
          <th>29</th>
          <th>30</th>
          <th>31</th>
        </tr>
        <tr>
          <th>月</th>
          <th>火</th>
          <th>水</th>
          <th>木</th>
          <th>金</th>
          <th>土</th>
          <th>日</th>
          <th>月</th>
          <th>火</th>
          <th>水</th>
          <th>木</th>
          <th>金</th>
          <th>土</th>
          <th>日</th>
          <th>月</th>
          <th>火</th>
          <th>水</th>
          <th>木</th>
          <th>金</th>
          <th>土</th>
          <th>日</th>
          <th>月</th>
          <th>火</th>
          <th>水</th>
          <th>木</th>
          <th>金</th>
          <th>土</th>
          <th>日</th>
          <th>月</th>
          <th>火</th>
          <th>水</th>
        </tr>
        
        <tr>
          <th rowspan="2" class="border-right">おおたりょう</th>
          <th rowspan="2">ホール</th>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
        </tr>
        
        <tr>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
        </tr>
        <tr>
          <th rowspan="2" class="border-right">おおたりょう</th>
          <th rowspan="2">ホール</th>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
        </tr>

        <tr>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
        </tr>
        <tr>
          <th rowspan="2" class="border-right">おおたりょう</th>
          <th rowspan="2">ホール</th>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
        </tr>

        <tr>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
        </tr>
        <tr>
          <th rowspan="2" class="border-right">おおたりょう</th>
          <th rowspan="2">ホール</th>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
        </tr>

        <tr>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
        </tr>
        <tr>
          <th rowspan="2" class="border-right">おおたりょう</th>
          <th rowspan="2">ホール</th>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
        </tr>

        <tr>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
        </tr>
        <tr>
          <th rowspan="2" class="border-right">おおたりょう</th>
          <th rowspan="2">ホール</th>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
          <td>１７：００〜</td>
        </tr>

        <tr>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
          <td>２３：００</td>
        </tr>
        <tr>
          <th rowspan="3" class="border-right">TOTAL</th>
          <th>ホール</th>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
        </tr>
        <tr>
          <th>キッチン</th>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
        </tr>
        <tr>
          <td class="font-bold">TOTAL</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
        </tr>
      </table>
    </div>
</div>