<div class="main">
  <button type="button" class="btn btn-primary">シフト提出</button>
  <button type="button" class="btn btn btn-warning">シフト編集</button>
  <%= month_calendar do |date| %>
    <%= date.day %>
  <% end %>
</div>