.header{
  background-color: #337ab7;
  height: 50px;
  padding-left: 20px;
  margin-bottom: 5px;
  a{
    color: #fff;
    text-decoration: none;
    h1{
      margin: 0;
      line-height: 50px;
    }
  }
  a:hover{
    color: lightgray;
  }
}